N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_WEBHOOK_URL=http://localhost:5678/

GENERIC_TIMEZONE=Europe/Moscow
TZ=Europe/Moscow

N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_RUNNERS_ENABLED=true

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=change_me_please

N8N_ENCRYPTION_KEY=change_this_to_a_long_random_secret

# N8N_CHECK_CHANNEL_WEBHOOK_URL=http://n8n:5678/webhook/check-channel
# N8N_CHECK_CHANNEL_TIMEOUT_SECONDS=15
# N8N_CHECK_CHANNEL_SHARED_SECRET=change_me

[n8n local user] # сохраняю данные чтобы не запоминать их (вводить в http://127.0.0.1:5678)
email=a@b.c
first_name=a
last_name=z
password=1234567890